colorharmonies
webcolors
ultralytics
numpy==1.26.4
matplotlib
pandas
torch==2.2.2
transformers==4.41.2
pinecone-client
pinecone
dotenv
fashion-clip
streamlit
torchvision==0.17.2
opencv-python
pillow
requests
sentence_transformers
openai
kagglehub
sklearn

